<h1>{{title}}</h1>
{{#if conocido}}
  {{#if mayor}}

    <p>Hola {{nombre}} </p>
    <p>Tu edad es {{edad}}</p>
    <a href="/salir">Salir</a>
  {{else}}
    <p>No puedes ingresar, eres menor de edad</p>
    <a href="/salir">Salir</a>
  {{/if}}
{{/if}}

{{#unless conocido}}
  <p>No te conozco</p>
  <form action="/ingresar" method="post">
    <input type="text" name="nombre" />
    <input type="text" name="edad" /><button>Ingresar</button>
  </form>

{{/unless}}